page-suporte {
  ion-title {
    height: 100%;
    padding-right: 100px !important;
  }



 .botao-suporte{
height: 8px;

 }

 .botao-lista{
  border: none;
  margin-top: 5px;
  text-align: center;

  }




}
