<ion-header class="tolbar">
    <ion-navbar class="header2">
      <button ion-button menuToggle right class="ion-button">
        <ion-icon name="menu" style="color: #fff"></ion-icon>
      </button>
      <ion-title><img src="assets/imgs/logo.png" width="100px"></ion-title>

    </ion-navbar>
  </ion-header>


<ion-content padding class="body-background" style="text-align: center" *ngIf="ATIVACAO == 1">
 <br>
  <h3 center>Entre em contato<br>
com nosso suporte
</h3>
<h1 style="color: #ed2300; font-size: 40px">031 2555-2526</h1>
<br>
    <button ion-item color="secondary" full style="background-color: #63B752" (click)="whatsapp()" class="botao-suporte botao-lista" >WhatsApp</button>
    <a ion-item color="light" full (click)="email()" class="botao-suporte botao-lista" >E-mail</a>


</ion-content>




<ion-content class="body-background" *ngIf="ATIVACAO != 1" style="text-align: center;">


  <br><br>
  <br><br>
  <h1>Você precisa<br>ativar a sua conta!</h1>
  <button ion-button color="secondary" (click)="ativar()">ATIVAR CONTA</button>


  </ion-content>
