<ion-header class="tolbar">
    <ion-navbar class="header2">
      <button ion-button menuToggle right class="ion-button">
        <ion-icon name="menu" style="color: #fff"></ion-icon>
      </button>
      <ion-title><img src="assets/imgs/logo.png" width="100px"></ion-title>

    </ion-navbar>
  </ion-header>




<ion-content   class="body-background" style="padding-right: 5px;" *ngIf="ATIVACAO == 1">


  <ion-searchbar (ionInput)="getItems($event)" placeholder="Pesguisa..." ></ion-searchbar>

    <ion-list no-lines id="myInput">
      <button ion-item class="body-background botao-filtro" >
       Montadora
      </button>
  </ion-list>



    <ion-list no-lines id="myInput">
        <button ion-item *ngFor="let item of lista" (click)="abrirPdf(item.ID_PDT, item.TIPO, item.ARQUIVO, item.LINK)" class="body-background botao-lista">
          {{ item.TITULO }}
        </button>
    </ion-list>







</ion-content>





