page-abrirlink {

  .botao-lista{
    background-color: #292929;
    border: none;
    margin-top: 5px;
    text-align: center;

    }


    #myInput{
      padding-right: 0px !important;

      padding-left: 8px;
      padding-right: 8px !important;

    }

    ion-title {
      height: 100%;
      padding-right: 100px !important;
    }


}
