.toolbar-background {
  background-color: #292929;

}

.header2 {

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.tolbar{
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}


.footer2 {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px !important;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px;
}

ion-title {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-left: 15px
}

.ion-button {
margin-right: 15px !important;
}

.ion-button2 {
margin-left: 15px !important;
}

.body-background {
  background-color: #000;
  color: #fff;
}

.body-input {
  background-color: #292929;
  color: #fff;
  border: none !important;
  box-shadow: none !important;
}


.botao-login {
  background-color: #292929;
  color: #FE0315;
  border-radius: 10px
}

.background-menu {
  background-color: #292929;
  color: #fff;
}


.quadrado-icone {
  background-color: #292929;
  width: 100%;
  padding: 10px;
}

ion-header ion-icon.back-button-icon.icon {
  color: #fff;
  z-index: 999999999999 !important;
}
