<ion-menu [content]="content" side="right">


  <ion-content class="background-menu">
      <img src="assets/imgs/logo.png" width="100%" style="padding-left: 40px; padding-right: 40px; padding-top: 20px;">
<ion-grid>
<ion-row>

   <ion-col col-3>
    <img src="assets/imgs/logo-usuario.png" width="90%" >
  </ion-col>
  <ion-col col-7>
     <h6>Olá Felipe Tavares</h6>
    </ion-col>


</ion-row>
</ion-grid>

    <ion-list>


      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="background-menu">
        {{p.title}}
      </button>

      <button menuClose ion-item *ngFor="let p of lista" (click)="openPage2(p.ID_CAT)" class="background-menu">
          {{p.TITULO}}
        </button>



    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
