<ion-header class="tolbar">
    <ion-navbar class="header2">
      <button ion-button menuToggle right class="ion-button">
        <ion-icon name="menu" style="color: #fff"></ion-icon>
      </button>
      <ion-title><img src="assets/imgs/logo.png" width="120px"></ion-title>

    </ion-navbar>
  </ion-header>




<ion-content   class="body-background" style="padding-right: 5px;" *ngIf="ATIVACAO == 1">

  <ion-searchbar (ionInput)="getItems($event)" placeholder="Pesguisar" ></ion-searchbar>


    <ion-list no-lines id="myInput">
        <button ion-item *ngFor="let item of lista" (click)="abrirPdf(item.ID_PDT, item.TIPO, item.ARQUIVO)" class="body-background botao-lista">
          {{ item.TITULO }}
        </button>
    </ion-list>




    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>



</ion-content>



<ion-content class="body-background" *ngIf="ATIVACAO != 1" style="text-align: center;">


<br><br>
<br><br>
<h1>Você precisa<br>ativar a sua conta!</h1>
<button ion-button color="secondary" (click)="ativar()">ATIVAR CONTA</button>


</ion-content>

